.RData
.Rproj.user
*Rcheck*
inst/extras
inst/extras/..Rcheck
inst/extras/.Rhistory
inst/extras/.RData
*~
*/~
vignettes/vignette.md
vignettes/figure

inst/examples/*.tex
inst/examples/*.aux
inst/examples/*.log
inst/examples/data
inst/examples/*.Rproj
#inst/examples/output.tables

inst/examples/Scotland.R
inst/examples/tmp.R
.Rhistory
