.RData
.Rproj.user
.Rbuildignore
.Rhistory
estc.Rproj
*Rcheck*
inst/extras
inst/extras/..Rcheck
inst/extras/.Rhistory
inst/extras/.RData
*~
*/~
vignettes/vignette.md
vignettes/figure

inst/examples/*.tex
inst/examples/*.aux
inst/examples/*.log
inst/examples/data
inst/examples/*.Rproj
#inst/examples/output.tables

inst/examples/Scotland.R
inst/examples/tmp.R

inst/examples/ecco2.json.gz
inst/examples/output.tables.history
inst/examples/output.tables
