*.RData
*~
places.geonames.RData
ggmapTemp.png
output.tables/missinggeocoordinates.csv
.cache
_cache
assetts
*cache
*files
js
css
*.mp4
*.html
anim_dir
1577.tab
misc.Rmd
tmp*
peak1642.tab
.Rhistory
*.pdf
estc*.csv
*.mp4


